.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 150px;
    padding: 0px;
    height: 100%;
    width: 100%;
    //max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerPur{
    
    // width: 600px;
    // height: 50em;
    // padding-left: 10px;
    // //margin: 0 auto;
    //padding-top: 1500px;
    // font-size: 40px;
    // padding-bottom: 40px;
    margin-top: -75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    flex-direction: column; 
    flex-wrap: wrap;
    width: 60%;
    box-sizing: border-box;
    border: 1px solid #B881FF;
    border-radius: 10px;
    overflow: scroll;
    
}

.containerSide{
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 3.52em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column; 
    flex-wrap: wrap;
    grid-gap: 2em; 
    box-sizing: border-box;
  
}
.producto{
    width: 100px;
    object-fit: cover;
}
.vacio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    div{
        margin-top: 80px;
        h1{
            font-size: 2rem;
        }
    }
    button{
        width: 80px;
        padding: 5px;
        box-sizing: border-box;
        background:purple;
        box-shadow: 0px 0px 4px rgba(156, 4, 187, 0.849);
        border-radius: 10px;
        cursor: pointer;
    }
}

.table{
    background-color: rgba(149, 53, 187, 0.153);
    width: 100%;
    
    td,
    th{
        padding: 5px;
    }
    &_cap{
        letter-spacing: 2px;
        color: white;
        font-size: 30px;
    }
    &_head{
        width: 100%;
        border-bottom: 1px solid purple;
    }
    &_heading{
        color:white;
        font-size: 20px;
        letter-spacing: 5px;
        text-align: left
    }
    &_row{
        height: 65px;
    }
    &_cell{
        font-size: 20px;
        letter-spacing: 3px;
        border-top: 1px solid purple;
        color: white;
      
    }
    button{
        width: 20%;
        background: yellow;
        padding: 2px;
        border-radius: 10px;
        cursor: pointer;
    }
}
.review{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1024px) {
    .containerPur{
        margin-top: toRem(50);
        margin-left: toRem(50);
        
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 35px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid purple;
            }
            &_heading{
                color:white;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid purple;
                color: white;
                width: 100%;
            }
        }
            
      
    }
    .containerSide{
        margin-top: toRem(-10);
        position: absolute;
        top: 0;
        
        
        //padding: 3.52em;
    
    }   
       
      

  }

@media only screen and (max-width: 768px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(-100);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 15px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid purple;
            }
            &_heading{
                color:white;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid purple;
                color: white;
                width: 100%;
            }
        }
            
      
    }

  }

@media only screen and (max-width: 550px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(10);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 5px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid purple;
            }
            &_heading{
                color:white;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid purple;
                color: white;
                width: 100%;
            }
        }
            
      
    }

  }
  @media only screen and (max-width: 420px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(50);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 0px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid purple;
            }
            &_heading{
                color:white;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid purple;
                color: white;
                width: 100%;
            }
        }
            
      
    }

  }

  @media only screen and (max-width: 320px) {
    .containerPur{
        margin-top: toRem(310);
        margin-left: toRem(-60);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 3px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid purple;
            }
            &_heading{
                color:white;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid purple;
                color: white;
                width: 100%;
            }
        }
            
      
    }

  }